	Section:NewToggle("Spam", "Info", function(state)
		da = state
		while da do
			task.wait()
			pcall (function()
				if game.Players:FindFirstChild(PlayerChosen).Character.Humanoid.Health ~= 0 then

					local x = game.Players.LocalPlayer.Character.HumanoidRootPart.Position.x
					local z = game.Players.LocalPlayer.Character.HumanoidRootPart.Position.z

					local x2 = game.Players:FindFirstChild(PlayerChosen).Character.HumanoidRootPart.Position.x
					local y = game.Players:FindFirstChild(PlayerChosen).Character.HumanoidRootPart.Position.y
					local z2 = game.Players:FindFirstChild(PlayerChosen).Character.HumanoidRootPart.Position.z
					local args = {[1] = {[1] = "Skill_SpherePunch",[2] = Vector3.new(x,100000000000000000000000000,z)}}
					game:GetService("ReplicatedStorage").RemoteEvent:FireServer(unpack(args))


					local l = 
						{
							[1] = "Skill_BulletPunch", 
							[2] = "Left", 
							[3] = Vector3.new(x, 10000, z)
						}
					local Event = game:GetService("ReplicatedStorage").RemoteEvent
					Event:FireServer(l)
					game:GetService("ReplicatedStorage").RemoteEvent:FireServer(unpack(args))
					for i,v in pairs(game.Workspace.Storage:GetChildren()) do
						if isnetworkowner(v) then
							if v.Name == ballstat then
								v.CFrame = CFrame.new(x, y+20, z)
								wait()
								v.CFrame = CFrame.new(x, y, z)


							end
						end
						if game:GetService("Players"):FindFirstChild(PlayerChosen) == game.Players.LocalPlayer then
							return
						else
							game.Players:FindFirstChild(PlayerChosen).Character.PrimaryPart.CFrame = game.Players.LocalPlayer.Character.PrimaryPart.CFrame*CFrame.new(0,0,-5)
						end
					end
				end
			end)
		end
	end)




Section:NewToggle("AutoC", "1", function(v)
getgenv().autofs = v
while true do wait(0.1)
if not getgenv().autofs then return end
local args = {
    [1] = {
        [1] = "Skill_Punch",
        [2] = "Left"
    }
}

game:GetService("ReplicatedStorage").RemoteEvent:FireServer(unpack(args))
end
end)


Section:NewToggle("AutoC", "1", function(v)
getgenv().autofs = v
while true do wait(0.1)
if not getgenv().autofs then return end
local args = {
    [1] = {
        [1] = "Skill_Punch",
        [2] = "Right"
    }
}

game:GetService("ReplicatedStorage").RemoteEvent:FireServer(unpack(args))
end
end)
